svg {
  font-size: 18px;
  padding: 8px 0 7px 8px;
  border-left: 1px solid #c4c4c4;
  cursor: pointer;
  margin-bottom: 0px;
  margin-right: 15px;
  justify-self: flex-end;
}
svg:hover {
  transform: rotate(-10deg);
}
.cart-widget {
  display: flex;
  flex-direction: row;
}
.cart-widget p {
  font-size: 12px;
  margin-top: 3px;
  margin-left: 20px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(176, 245, 155);
  color: #354a67;
}
